pipeline/ML_Models_Facts.json
{
	"name": "ML_Models_Facts",
	"properties": {
		"activities": [
			{
				"name": "Get_All_Function_Name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select Sp_Name from audit.allspname\nwhere sp_type='Function' and is_active=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Sink_Sql_Polestar",
						"type": "DatasetReference",
						"parameters": {
							"Schema_Name": "Audit",
							"Table_Name": "AllSpName"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_All_Function_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_All_Function_Name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Azure Function",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Function_Start_ Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": {
									"value": "@item().Sp_Name",
									"type": "Expression"
								},
								"method": "GET"
							},
							"linkedServiceName": {
								"referenceName": "LS_Workforce_360_Function",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Function_Start_ Time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Sp_Start_Time",
								"value": {
									"value": "@convertTimeZone(utcNow(),'UTC','India Standard Time')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Azure_Function_Log_On_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Azure Function",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[Sp_SpExecutionLog]",
								"storedProcedureParameters": {
									"DataFactory_Name": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"End_Time": {
										"value": {
											"value": "@convertTimeZone(utcNow(),'UTC','India Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Error": {
										"value": "NA",
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sp_Name": {
										"value": {
											"value": "@item().Sp_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sp_Type": {
										"value": "Azure Function",
										"type": "String"
									},
									"Start_Time": {
										"value": {
											"value": "@variables('Sp_Start_Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_Workforce_Insight",
								"type": "LinkedServiceReference",
								"parameters": {
									"Database_Name": "People_Lens"
								}
							}
						},
						{
							"name": "Azure_Function_Log_On_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Azure Function",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[Sp_SpExecutionLog]",
								"storedProcedureParameters": {
									"DataFactory_Name": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"End_Time": {
										"value": {
											"value": "@convertTimeZone(utcNow(),'UTC','India Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Error": {
										"value": {
											"value": "{\"Function App\":\"FuncWorkforce360\",\"Function Name\":\"@{item().Sp_Name}\",\"Error\":@{activity('Azure Function').error.message}}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sp_Name": {
										"value": {
											"value": "@item().Sp_Name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sp_Type": {
										"value": "Azure Function",
										"type": "String"
									},
									"Start_Time": {
										"value": {
											"value": "@variables('Sp_Start_Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_Workforce_Insight",
								"type": "LinkedServiceReference",
								"parameters": {
									"Database_Name": "People_Lens"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Sp_Start_Time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_Polestar_HR_Analytics"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-17T09:58:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}