pipeline/PL_Datalake_parquet.json
{
	"name": "PL_Datalake_parquet",
	"properties": {
		"activities": [
			{
				"name": "sp_UpdateConfigSettings",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OperationalTables].[UpdateConfigSettings]",
					"storedProcedureParameters": {
						"Date": {
							"value": {
								"value": "@pipeline().parameters.FileDate",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Internal_SQL_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "People_Lens"
					}
				}
			},
			{
				"name": "LoadFileList_Full",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_UpdateConfigSettings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from OperationalTables.ConfigTable where IsActive=1 and IsCompleted=0 and LoadType=''Full''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Config_Source_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SQL_LogError_Confg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_UpdateConfigSettings",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
					"storedProcedureParameters": {
						"ErrorDescription": {
							"value": {
								"value": "@activity('sp_UpdateConfigSettings').error.message\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Module": {
							"value": "VegaHrAnalytics",
							"type": "String"
						},
						"ObjectName": {
							"value": {
								"value": "@concat(activity('sp_UpdateConfigSettings').error.target,' - StoredProc - [OperationalTables].[UpdateConfigSettings]')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": "MySQL",
							"type": "String"
						},
						"WorkSpaceName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Internal_SQL_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "People_Lens"
					}
				}
			},
			{
				"name": "ForEach_LoadFiles_Full",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LoadFileList_Full",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LoadFileList_Full').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "MySQL_to_Datalake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_My_Sql_Server",
									"type": "DatasetReference",
									"parameters": {
										"RawTableName": {
											"value": "@item().SourceTable\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_blob_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().ADLS_Container",
											"type": "Expression"
										},
										"FolderPath": {
											"value": "@concat(item().ADLS_Container,'/',\nitem().FileName,'/',\nformatDateTime(item().StartDate,'yyyy'),'/',\nformatDateTime(item().StartDate,'MMM'),'/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().FileName,'.',item().FileType)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SQL_LogError_MySQL_to_Datalake_Full",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MySQL_to_Datalake",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
								"storedProcedureParameters": {
									"ErrorDescription": {
										"value": {
											"value": "@activity('MySQL_to_Datalake').error.message\n\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"Module": {
										"value": {
											"value": "@item().Module",
											"type": "Expression"
										},
										"type": "String"
									},
									"ObjectName": {
										"value": {
											"value": "@concat(activity('MySQL_to_Datalake').error.target,' - StoredProc - [OperationalTables].[UpdateConfigSettings]')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "@item().Module",
											"type": "Expression"
										},
										"type": "String"
									},
									"WorkSpaceName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Internal_SQL_server",
								"type": "LinkedServiceReference",
								"parameters": {
									"DB_Name": "People_Lens"
								}
							}
						},
						{
							"name": "AvoidSuccessOnFailure_onFullLoad",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "MySQL_to_Datalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Select 1 as AvoidSuccessOnFailure;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Config_Source_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "LoadFileList_Incremental",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_UpdateConfigSettings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from OperationalTables.ConfigTable where IsActive=1 and IsCompleted=0 and LoadType=''Incremental''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Config_Source_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_LoadFiles_Incremental",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LoadFileList_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LoadFileList_Incremental').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "MySQL_to_Datalake_Incremental",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat('SELECT * FROM ', item().SourceTable, ' WHERE STR_TO_DATE(', item().IncrementalField, ',''%d.%m.%Y'') BETWEEN CAST(''', item().StartDate, ''' AS DATE) AND CAST(''', item().EndDate, ''' AS DATE);')\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_My_Sql_Server",
									"type": "DatasetReference",
									"parameters": {
										"RawTableName": "a"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_blob_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().ADLS_Container",
											"type": "Expression"
										},
										"FolderPath": {
											"value": "@concat(item().ADLS_Container,'/',\nitem().FileName,'/',\nformatDateTime(item().StartDate,'yyyy'),'/',\nformatDateTime(item().StartDate,'MMM'),'/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().FileName,'.',item().FileType)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "AvoidSuccessOnFailure_OnIncremental",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "MySQL_to_Datalake_Incremental",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Select 1 as AvoidSuccessOnFailure;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Config_Source_Dataset",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SQL_LogError_MySQL_to_Datalake_Incremental",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MySQL_to_Datalake_Incremental",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
								"storedProcedureParameters": {
									"ErrorDescription": {
										"value": {
											"value": "@activity('MySQL_to_Datalake_Incremental').error.message\n\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"Module": {
										"value": {
											"value": "@item().Module",
											"type": "Expression"
										},
										"type": "String"
									},
									"ObjectName": {
										"value": {
											"value": "@concat(activity('MySQL_to_Datalake_Incremental').error.target,' - StoredProc - [OperationalTables].[UpdateConfigSettings]')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "@item().Source",
											"type": "Expression"
										},
										"type": "String"
									},
									"WorkSpaceName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Internal_SQL_server",
								"type": "LinkedServiceReference",
								"parameters": {
									"DB_Name": "People_Lens"
								}
							}
						}
					]
				}
			},
			{
				"name": "SQL_LogError_LoadFileList_Full",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadFileList_Full",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
					"storedProcedureParameters": {
						"ErrorDescription": {
							"value": {
								"value": "@activity('LoadFileList_Full').error.message\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Module": {
							"value": {
								"value": "@activity('LoadFileList_Full').output.value[0].Module",
								"type": "Expression"
							},
							"type": "String"
						},
						"ObjectName": {
							"value": {
								"value": "@concat(activity('LoadFileList_Full').error.target,' - StoredProc - [OperationalTables].[UpdateConfigSettings]')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@activity('LoadFileList_Full').output.value[0].Source",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkSpaceName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Internal_SQL_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "People_Lens"
					}
				}
			},
			{
				"name": "SQL_LogError_LoadFileList_Incremental",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadFileList_Incremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
					"storedProcedureParameters": {
						"ErrorDescription": {
							"value": {
								"value": "@activity('LoadFileList_Incremental').error.message\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Module": {
							"value": {
								"value": "@activity('LoadFileList_Incremental').output.value[0].Module",
								"type": "Expression"
							},
							"type": "String"
						},
						"ObjectName": {
							"value": {
								"value": "@concat(activity('LoadFileList_Incremental').error.target,' - StoredProc - [OperationalTables].[UpdateConfigSettings]')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@activity('LoadFileList_Incremental').output.value[0].Source",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkSpaceName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Internal_SQL_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "People_Lens"
					}
				}
			},
			{
				"name": "SQL_LogError_PL_SourceToDatalake",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_LoadFiles_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_LoadFiles_Full",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[OperationalTables].[SP_ErrorLogExecutions]",
					"storedProcedureParameters": {
						"ErrorDescription": {
							"value": null,
							"type": "String"
						},
						"Module": {
							"value": "vegahranalytics",
							"type": "String"
						},
						"ObjectName": {
							"value": null,
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@activity('LoadFileList_Incremental').output.value[0].Source",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkSpaceName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Internal_SQL_server",
					"type": "LinkedServiceReference",
					"parameters": {
						"DB_Name": "People_Lens"
					}
				}
			}
		],
		"parameters": {
			"FileDate": {
				"type": "string",
				"defaultValue": "1900-01-01"
			}
		},
		"folder": {
			"name": "People Lens"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-18T07:52:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}